<header class="container p-4 big-image">
  <nav class="navbar bg-body-tertiary rounded-pill nav-underline">
    <div class="container-fluid justify-content-around">
      <ng-container *ngFor="let item of navItems">
        <a [id]="item.country.toLowerCase()+'Select'" class="navbar-brand nav-link {{item.active?'active':''}}" href="javascript:void(0)" (click)="onClickLeague(item)">{{item.country}}</a>
      </ng-container>
    </div>
  </nav>
</header>
<div *ngIf="isLoading" id="spinner" class="d-flex justify-content-center align-items-center" style="backdrop-filter: brightness(.5);">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<router-outlet></router-outlet>